## 1️⃣ Creating Lists

Lists can hold any data type and are used to store multiple items in a single variable.

In [ ]:
# Creating lists in different ways
# Lists can contain Different data types
groceries = ["milk", "bread", "eggs", "butter"]
groceries = ["potato", "bread", "bread", "eggs", "butter"] # List with duplicate values
scores = [95, 88, 76, 90] 
student = ["Rahul", 21, "B.Tech", 8.4]
empty_list = []
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
numbers = list((10, 20, 30, 40))
print(groceries, scores, student, empty_list, matrix, numbers)

['milk', 'bread', 'eggs', 'butter'] [95, 88, 76, 90] ['Rahul', 21, 'B.Tech', 8.4] [] [[1, 2, 3], [4, 5, 6], [7, 8, 9]] [10, 20, 30, 40]

In [9]:
# Checking type of list
print(type(groceries))

<class 'list'>

In [8]:
# List constructor to make list
mylist = list(("apple", "banana", "cherry"))	
print(mylist)

['apple', 'banana', 'cherry']

## 2️⃣ Accessing Elements (Indexing)

Access list elements using positive or negative indexes.

In [3]:
movies = ["Inception", "Avatar", "Interstellar", "Tenet"]
print(movies[0])

print(movies[2])
print(movies[-1])
print(movies[-2])

Inception
Interstellar
Tenet
Interstellar

## 3️⃣ Slicing Lists

Extract sub-lists using slicing `[start:end:step]`.

In [11]:
# Will give a new list
tasks = ["wake up", "brush", "exercise", "study", "breakfast", "work"]
print(tasks[1:4])
print(tasks[:3])
print(tasks[3:])
print(tasks[::2])
print(tasks[::-1])

['brush', 'exercise', 'study']
['wake up', 'brush', 'exercise']
['study', 'breakfast', 'work']
['wake up', 'exercise', 'breakfast']
['work', 'breakfast', 'study', 'exercise', 'brush', 'wake up']

## 4️⃣ Updating List Elements

Change one or multiple elements of a list.

In [5]:
prices = [100, 200, 300, 400]
prices[1] = 250
prices[1:3] = [220, 320]
prices[1:2] = [210, 215, 220]
print(prices)

[100, 210, 215, 220, 320, 400]

## 5️⃣ Adding Elements

Add elements using append(), insert(), and extend().

In [6]:
# append()
fruits = ["apple", "banana"]
fruits.append("mango")
fruits.append(["kiwi", "melon"])
print(fruits)

# insert()
subjects = ["Math", "Science", "History"]
subjects.insert(1, "English")
subjects.insert(0, "Computer")
print(subjects)

# extend()
menu = ["idli", "dosa"]
menu.extend(["poha", "upma"])
menu.extend(("tea", "coffee"))
print(menu)

['apple', 'banana', 'mango', ['kiwi', 'melon']]
['Computer', 'Math', 'English', 'Science', 'History']
['idli', 'dosa', 'poha', 'upma', 'tea', 'coffee']

## 6️⃣ Removing Elements

Remove elements using remove(), pop(), del, and clear().

In [7]:
cars = ["BMW", "Audi", "Tesla", "Audi"]
cars.remove("Audi")
print(cars)

queue = ["A", "B", "C", "D"]
queue.pop()
queue.pop(0)
print(queue)

students = ["Ravi", "Neha", "Kiran", "Asha"]
del students[2]
del students[1:3]
print(students)

cart = ["item1", "item2", "item3"]
cart.clear()
print(cart)

['BMW', 'Tesla', 'Audi']
['B', 'C']
['Ravi']
[]